<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="bi bi-question my-float"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-primary fw-bold" id="exampleModalLabel">Magic Villa Web App Guide</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="text-primary fw-bold">User Logins</h5>
                <ul>
                    <li>Email - <i class="text-primary fw-bold">admin@jakelin.com.au</i></li>
                    <li>Password - <i class="text-primary fw-bold">Pa$$w0rd</i></li>
                </ul>
                <h5 class="text-primary fw-bold">Swagger Link</h5>
                <ul>
                    <li><a href="https://magicvillaapiwebapp.azurewebsites.net/index.html" target="_blank">https://magicvillaapiwebapp.azurewebsites.net/index.html</a></li>
                </ul>      
            </div>
        </div>
    </div>
</div>